name: Update FanCode Links
on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'

      - name: Fetch and Save
        run: php api/fetcher.php > live_data.json

      - name: Auto Push
        run: |
          git config --global user.name "Fancode-Ind-Bot"
          git config --global user.email "bot@fancode.com"
          git add live_data.json
          git commit -m "Updated m3u8 links: $(date)" || exit 0
          git push
          
